
<html>
<body>

<h1>Describing data set</h1>
<p>The album model contains the artist and title. </p>
<p>A Album has many songs</p>
<p>One album has one album information displaying the play count</p>
<%# <%= image_tag ('ERD.PNG')%>


</body>
</html>